<Scrollview>
    <StackLayout width = "300">
        <StackLayout orientaion = "horizontal">
            <StackLayout>
        <Label text = "Outdoor Activities" textAlignment = "center" fontSize = "40" bottomBorderColor = "black"></Label>
        <Label text = "Cycling" fontSize = "25" fontAttributes= "Bold"><!-- <Label>
            <Label.formattedText>
              <FormattedString fontSize="18" foregroundColor="#FF0000">
                <FormattedString.spans>
                  <Span text="Cycling" fontAttributes="Bold" />
                </FormattedString.spans>
              </FormattedString>
            </Label.formattedText>
          </Label> --></Label>
          <Button text = "Find me gyms with cycling rooms"></Button>
          <Button text = "Find bike paths near me"></Button>
          <Button text = "Read more about Cycling benefits"></Button>
        </StackLayout>
        <Image src="~/outdoors/bikelogo.png" class="fas t-36"></Image>
    </StackLayout>
          
          <StackLayout orientaion = "horizontal">
            <StackLayout>
          <Label text = "Running" fontSize = "25" fontAttributes= "Bold">
            <Button text = "Find me gyms" (tap) = "getSearch('gyms')"></Button>
            <Button text = "Find running paths near me"></Button>
            <Button text = "Read more about running benefits"></Button>
        </StackLayout>
        <Image src="~/outdoors/runicon.png" class="fas t-36"></Image>

    </StackLayout>
            
            <StackLayout orientaion = "horizontal">
                <StackLayout> 
        <Label text = "Hiking" fontSize = "25" fontAttributes= "Bold">
            <Button text = "Find me gyms"></Button>
            <Button text = "Find hiking paths near me"></Button> 
            <Button text = "Read more about hiking benefits"></Button>
        </StackLayout>
        <Image src="~/outdoors/hikelogo.png" class="fas t-36"></Image>

    </StackLayout>
        
        
        
            <StackLayout orientaion = "horizontal">
                <StackLayout>  
        <Label text = "Swimming" fontSize = "25" fontAttributes= "Bold">
            <Button text = "Find me nearby pools"></Button>
            <Button text = "Find swim stores near me"></Button> 
            <Button text = "Read more about swimming benefits"></Button>
        </StackLayout>
        <Image src="~/outdoors/swimlogo.png" class="fas t-36"></Image>

    </StackLayout>

    </StackLayout>
</Scrollview>