<!--<StackLayout orientation = "vertical">
    <StackLayout orientation = "vertical"
    height = "25%" borderWidth = "2" borderRadius = "20" width = "300">
    <Label fontSize = "40" text = {{mapsResult.activity_0}}></Label>
    </StackLayout> 
    
    <StackLayout orientation = "vertical"
    height = "25%" borderWidth = "2" borderRadius = "20" width = "300">
    <Label fontSize = "40" text = {{mapsResult.activity_1}}></Label>
    </StackLayout>

    <StackLayout orientation = "vertical"
    height = "25%" borderWidth = "2" borderRadius = "20" width = "300"> 
    <Label fontSize = "40" text = {{mapsResult.activity_2}}></Label>
    </StackLayout>

    <StackLayout orientation = "vertical"
    height = "25%" borderWidth = "2" borderRadius = "20" width = "300">
    <Label fontSize = "40" text = {{mapsResult.activity_3}}></Label>
    </StackLayout>
    <Button class="btn btn-outline" text="Close Modal" (tap)="close()"></Button>
</StackLayout>
-->
<StackLayout class="p-20">
    <Label class="h2 text-center" text="This is NOT a modal page." textWrap="true"></Label>
    <Button class="btn btn-outline" text="Close Modal" (tap)="close()"></Button>
</StackLayout>

