<Scrollview>
    <StackLayout width = "300">
        <Label text = "Entertainment" textAlignment = "center" fontSize = "40" bottomBorderColor = "black"></Label>
        <Label text = "Movies" fontSize = "25" fontAttributes= "Bold"><!-- <Label>
            <Label.formattedText>
              <FormattedString fontSize="18" foregroundColor="#FF0000">
                <FormattedString.spans>
                  <Span text="Cycling" fontAttributes="Bold" />
                </FormattedString.spans>
              </FormattedString>
            </Label.formattedText>
          </Label> --></Label>
          <Button text = "Find me nearby movie theatres" (tap) = "getSearch('movie theatre')"></Button>
          <Button text = "Find recent popular movies" (tap) = "recentMovies()"></Button>
          <!--<Button text = "Select favorite movie genres"></Button> -->
          
        

    </StackLayout>
</Scrollview>