<StackLayout width = "300">
      <Label text = "Entertainment" textAlignment = "center" fontSize = "30" bottomBorderColor = "black"></Label>

      <GridLayout [visibility]="valid ? 'visible' : 'collapsed'" height = "250">
        <MapView
            [latitude]="userLat"
            [longitude]="userLng"
            [zoom]="zoom"
            (mapReady)="onMapReady($event)"
        ></MapView>
      </GridLayout>

      <Label text = "Movies" horizontalAlignment='center' fontSize = "20" fontAttributes= "Bold"></Label>
      <!-- <Button text = "Find me nearby movie theatres" (tap) = "getSearch('movie theatre')"></Button> -->
      <Button text = "Find recent popular movies" (tap) = "recentMovies()"></Button>
      <!--<Button text = "Select favorite movie genres"></Button> -->
</StackLayout>