<ScrollView class='component'>
    <StackLayout orientation = "vertical">

        <Label horizontalAlignment='center' color = "black" class='h2' text = "What's on your mind?" ></Label>
        <!--
        <WrapLayout height = "8%" orientation = "horizontal">
            <Label color = "black" text = {{getDate()}} fontSize = "30" marginRight = "30%"></Label>
            <Label color = "black" text = {{getTime()}} fontSize = "30"></Label>
        </WrapLayout>
        -->

        <StackLayout horizontalAlignment='center' height = "500" borderWidth = "2" borderRadius = "20" width = "300" borderColor = "gray">
            <!-- 
                <TextView width="250" minHeight="450" hint="Start Journaling here..."
            fontSize="14" marginBottom = "-15%"  class = "input" [(ngModel)] = "journal"></TextView>
            -->
            <TextView minHeight="450" fontSize="14" hint="Start Journaling here..." class="input" [(ngModel)]="journal"></TextView>
        </StackLayout>

        <Button text = "Enter Journal" (tap) = "submitJournal()" ></Button>
    
    </StackLayout> 
</ScrollView>