<Scrollview>
    <StackLayout width = "300">
        <Label text = "Other" textAlignment = "center" fontSize = "40" bottomBorderColor = "black"></Label>
        <Label text = "Dining" fontSize = "25" fontAttributes= "Bold"><!-- <Label>
            <Label.formattedText>
              <FormattedString fontSize="18" foregroundColor="#FF0000">
                <FormattedString.spans>
                  <Span text="Cycling" fontAttributes="Bold" />
                </FormattedString.spans>
              </FormattedString>
            </Label.formattedText>
          </Label> --></Label>
          <Button text = "Find me nearby open restaurants" (tap) = "getSearch('restaurants')"></Button>
          <Button text = "Find recipes online" (tap) = "findRecipes()" ></Button>
          <Button text = "Read more about eating healthy"(tap) = readEating()></Button>
          
        

    </StackLayout>
</Scrollview>