<FlexboxLayout justifyContent = "space-around" class =  "page">

  <Label text = "Welcome to DACTR!" class = "welcome"></Label>

<StackLayout row = 2 width = "200" alignSelf = "center" class="form">
    <StackLayout width = "150" class="username">
      <TextField width = "150" minHeight = "50" hint = "Username" class="input input-border"></TextField>
    </StackLayout>
    <StackLayout width = "150" class="password">
      <TextField width = "150" minHeight = "50" hint = "Password" secure = "true" class="input"></TextField>
    </StackLayout>
  
    <Button width = "75" text="Log In" class="loginButton" (tap) = "login()"></Button>
  </StackLayout>
  
  <Label text="Don’t have an account?"></Label>
  <ActivityIndicator [busy] = "isLoading"></ActivityIndicator>

  <StackLayout>
    <Image src = "res://flowers" width = "500" height = "500"></Image>
  </StackLayout>
</FlexboxLayout>
