
<ActionBar  color = "black" style = "background-color: hsla(0, 0%, 0%, 0);">
</ActionBar>

<FlexboxLayout  flexDirection = "column" justifyContent="space-between" iosOverflowSafeArea="true" backgroundImage = "~/login/landscapebackground.jpg" style = "background-position: right; background-size: cover;" >

  <!--Logo Img-->
    <Image src="~/login/dactrlogo.png">
  </Image>

  <Label text = "Sign in" fontSize = "40" textAlignment = "center" color = "black" marginTop = "-10%">
    </Label>
    <!--Username Input-->
    <StackLayout width="200">
          <TextField width="200" minHeight="50" hint="Username"
              fontSize="20" keyboardType = "email"
              autocapitalize="none" autocorrect = "false" style = "placeholder-color: black; border-color: black;"
               [(ngModel)] = "username"></TextField>
      </StackLayout>

      <!--Password Input-->
      <StackLayout width="200">
          <TextField width="200" minHeight="50" hint="Password"
              secure="true" fontSize="20" style = "placeholder-color: black; border-color: black;" 
              [(ngModel)] = "password"></TextField>
      </StackLayout>

      <!--Login Button-->
      <Button text='Log In'
      width="150" (tap)="submit()">
      </Button>
      <Label text="Forgot your password?" color = "black" textAlignment = "center" ></Label>


</FlexboxLayout>
