.page {
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 1em;
    /*background-color: yellow;*/
  }
  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
    padding: 1em;
    /*background-color: aqua;*/
  }
.loginButton {
  background-color: lightseagreen;
  border-color: darkolivegreen;
  border-radius: 20;
  border-width: 1;
  color: whitesmoke;
  font-size: 18;
  font-weight: bold;
  width: 150px;
}
.input {
  padding: 1em;
  border-color: black;
}
  .username {
    padding: 1em;
    border-color: black;
  }

  .password {
    padding: 1em;
    border-color: black;
}

.welcome {
  font-family: cursive;
  font-size: 30;
  font-weight: bold;
  color: rgb(0, 216, 205);
}