<ActionBar  color = "black">
  </ActionBar>

<FlexboxLayout  flexDirection = "column" justifyContent="space-between" iosOverflowSafeArea="true" backgroundImage = "~/login/landscapebackground.jpg" style = "background-position: right; background-size: cover;" >

  <!--Logo Img-->
    <Image src="~/login/dactrlogo.png" marginTop = "-10%" stretch = "aspectFill" width = "45%" height = "45%">
  </Image>

  <Label text = "Sign up" fontSize = "30" marginTop = "-10%" marginBottom = "-10%" textAlignment = "center" color = "black">
    </Label>
    <!--Username Input-->
    <StackLayout width="200" marginBottom = "-12%">
          <TextField width="200" minHeight="50" hint="Username"
              fontSize="20" keyboardType = "email"
              autocapitalize="none" autocorrect = "false" style = "placeholder-color: black; border-color: black;"
              [(ngModel)] = "email">
            </TextField>
      </StackLayout>

      <!--Password Input-->
      <StackLayout width="200" marginBottom = "-10%">
          <TextField width="200" minHeight="50" hint="Password"
              secure="true" fontSize="20" style = "placeholder-color: black; border-color: black;"
              [(ngModel)] = "password">
              </TextField>
      </StackLayout>
      <StackLayout width="200" marginBottom = "-10%">
      <TextField width="200" minHeight="50" hint="Confirm Password"
          secure="true" fontSize="20" style = "placeholder-color: black; border-color: black;"
          [(ngModel)] = "confirmPassword">
          </TextField>
        </StackLayout>
      <!--Login Button-->
      <Button text='Sign Up'
      width="150" (tap)="submit()">
      </Button>
</FlexboxLayout>
