<Scrollview>
    <StackLayout width = "300">
        <StackLayout orientation = "horizontal">
            <StackLayout>
        <Label text = "Art" textAlignment = "center" fontSize = "40" bottomBorderColor = "black"></Label>
        <Label text = "Sketching" fontSize = "25" fontAttributes= "Bold"><!-- <Label>
            <Label.formattedText>
              <FormattedString fontSize="18" foregroundColor="#FF0000">
                <FormattedString.spans>
                  <Span text="Cycling" fontAttributes="Bold" />
                </FormattedString.spans>
              </FormattedString>
            </Label.formattedText>
          </Label> --></Label>
          <Button text = "Find me shops with sketching materials" (tap) = "getSearch('sketching materials')"></Button>
          <Button text = "Find sketching tutorials"></Button>
          <Button text = "Read more about sketching ideas"></Button>
        </StackLayout>
    </StackLayout>
          
          
    <StackLayout orientation = "horizontal">
        <StackLayout>
          <Label text = "Canvas Painting" fontSize = "25" fontAttributes= "Bold"></Label>
            <Button text = "Find shops with canvas painting materials" (tap) = "getSearch('canvas painting materials')"></Button>
            <Button text = "Find canvas painting tutorials"></Button>
            <Button text = "Read more about canvas painting ideas"></Button>
        </StackLayout>
    </StackLayout>
            
            <StackLayout orientation = "horizontal">
                <StackLayout>
        <Label text = "Acrylic Painting" fontSize = "25" fontAttributes= "Bold"></Label>
            <Button text = "Find shops with acrylic painting materials" (tap) = "getSearch('acrylic painting materials')"></Button>
            <Button text = "Find acrylic painting tutorials"></Button>
            <Button text = "Read more about acrylic painting ideas"></Button>
        </StackLayout>
    </StackLayout>
        
        
        
            <StackLayout orientation = "horizontal">
                <StackLayout>
        <Label text = "Water Painting" fontSize = "25" fontAttributes= "Bold"></Label>
            <Button text = "Find shops with water painting materials" (tap) = "getSearch('water painting materials')"></Button>
            <Button text = "Find water painting tutorials"></Button>
            <Button text = "Read more about water painting ideas"></Button>
        </StackLayout>
    </StackLayout>
    </StackLayout>
</Scrollview>