<FlexboxLayout class='component' flexDirection = "column" style="background-color: white;">
    <Image src = "" style = "border-radius: 15;"></Image>
    <Label text = "User" width = "200" class='h2' textAlignment = "center"></Label>
    <Label text = "Michael Schaeffer" width = "200" fontSize = "30" textAlignment = "center"></Label>
    <!-- <Label text = "Madeline Miller" width = "200" fontSize = "30" textAlignment = "center"></Label> -->
    <Label class='h2' horizontalAlignment='center' text = "Journal Log"></Label>

    <ScrollView orientation='vertical' height = "400" borderWidth = "2" borderRadius = "10" width = "300" borderColor = "gray">
        <StackLayout horizontalAlignment='center'>

            <!-- Journal 1 -->
            <StackLayout horizontalAlignment='center' class='component journal'>
                <Label class='component timestamp' text = 'August 22, 2020 at 8:58:06 PM UTC-4'></Label>
                
                <Label class='component question' textWrap= 'true' text = "How would you describe your mental and social wellbeing at the moment?"></Label>
                <Label class='component answer' textWrap= 'true' text = "Not gonna lie, I don't feel too all too hot right now. I feel really depressed, like the world is just out to get me."></Label>            

                <Label class='component question' textWrap= 'true' text = "What are some events or triggers that make you feel this way?"></Label>
                <Label class='component answer' textWrap= 'true' text = "This morning, my girlfriend dumped me. Said she liked somebody else. It hasn't even been a week. I feel betrayed and depressed, but I also feel so frusturated and angry at the same time."></Label>

                <Label class='component question' textWrap= 'true' text = "What are some activities or actions that could be worthwhile moving forward?"></Label>
                <Label class='component answer' textWrap= 'true' text = "I have to blow off some steam. I might meet up with my friends and go bowling tonight, I love bowling. I might also vlog myself somewhere cool in the city, I find vlogging relaxing."></Label>
            </StackLayout>

            <!-- <StackLayout horizontalAlignment='center' class='component journal'>
                <Label class='component timestamp' text = 'September 3, 2020 at 8:58:06 PM UTC-4'></Label>
                
                <Label class='component question' textWrap= 'true' text = "How would you describe the emotions you have been experiencing lately?"></Label>
                <Label class='component answer' textWrap= 'true' text = "I felt conflicted today. I feel extremely anxious because of the midterms coming up, but my parents came over to meet me which was really nice. I haven't seen them in ages, it really picked me up! But it still didn't overcome my anxiety."></Label>            

                <Label class='component question' textWrap= 'true' text = "Are there goals or standards you are trying to meet that make you feel the way you do?"></Label>
                <Label class='component answer' textWrap= 'true' text = "I'm really trying to get good grades in my midterms right now, I'm at danger of dropping below the Engineering GPA requirement. That's why I feel a lot of pressure, to the point where it's making it difficult to study."></Label>

                <Label class='component question' textWrap= 'true' text = "In what ways do you intend to use your time effectively to improve your mental and physical self?"></Label>
                <Label class='component answer' textWrap= 'true' text = "I'm going to start studying with some of my friends, because I noticed it helps calm me down. I'm also going to make sure I run in the morning, since that's improved my mood too. I might try a new trail tomorrow. Oh, and I have to make sure I reserve for dinner at a good restaurant around here for dinner, I can't wait to talk more about college life with my parents!"></Label>
            </StackLayout> -->
            
            <!-- Journal 2 -->
            <StackLayout horizontalAlignment='center' class='component journal'>
                <Label class='component timestamp' text = 'August 20, 2020 at 5:43:02 PM UTC-4'></Label>

                <Label class='component question' textWrap= 'true' text = "How would you describe the emotions you have been experiencing lately?"></Label>
                <Label class='component answer' textWrap= 'true' text = "I feel like I'm on Cloud9. This is easily the greatest moment of my life."></Label>            

                <Label class='component question' textWrap= 'true' text = "What are the positive and negative contributors to where you are in life right now?"></Label>
                <Label class='component answer' textWrap= 'true' text = "Well well, I'm feeling all positive today. And the reason, you ask?? I went on the date with my girlfriend I mentioned earler!! She was like, an hour late and seemed kind of spaced out the whole time, but I'm sure she was just being shy."></Label>

                <Label class='component question' textWrap= 'true' text = "What incremental steps can you take to maintain a positive mental and body image?"></Label>
                <Label class='component answer' textWrap= 'true' text = "I have to make sure I continue going to the gym. I'm quite fond of my triceps, I flexed them to my girlfriend a few times and she made some expression the third time, I think she likes it. And if she likes it, I like it too."></Label>
            </StackLayout>

            <!-- Journal 3 -->
            <StackLayout horizontalAlignment='center'>
                <Label class='component timestamp' text = 'August 16, 2020 at 6:26:03 PM UTC-4'></Label>

                <Label class='component question' textWrap= 'true' text = "What do you struggle with right now? What is going by easily?"></Label>
                <Label class='component answer' textWrap= 'true' text = "I used to be a bit lonely and kind of hollow, but low and behold, I GOT A GIRLFRIEND!!! So hype, I met her at this party, she looked really out of it but we exchanged numbers and promised to meet up."></Label>            

                <Label class='component question' textWrap= 'true' text = "Are there goals or standards you are trying to meet that make you feel the way you do?"></Label>
                <Label class='component answer' textWrap= 'true' text = "Well, getting a girlfriend was a goal of mine since I got to Penn State. Meeting that goal honestly feels amazing. Even if she threw up just 30 minutes before and was kind of half conscious. I still plan on continuing my goal and keeping a steady relationship with her."></Label>

                <Label class='component question' textWrap= 'true' text = "In what ways do you intend to use your time effectively to improve your mental and physical self?"></Label>
                <Label class='component answer' textWrap= 'true' text = "Well first up, I gotta figure out what we're gonna do together. Oh man, maybe we'll grab a bite at the Halal Cart and hang out in the Schreyer Garden. Or, I could treat her to some Momotaro's ice cream. I gotta make sure I workout, I better stay in shape now that I have a girlfriend."></Label>            
            </StackLayout>
        </StackLayout>        
    </ScrollView>

</FlexboxLayout>
