<FlexboxLayout flexDirection = "column" style="background-color: white;">
    <Image src = "" style = "border-radius: 15;"></Image>
    <Label text = "First Name" width = "200" fontSize = "30" textAlignment = "center"></Label>
    <Label text = "Last Name" width = "200" fontSize = "30" textAlignment = "center"></Label>
    <Label text = "Phone Number" width = "200" fontSize = "30" textAlignment = "center"></Label>
    <Button text = "Journal Log" (tap) = enterJournalLog()></Button>
</FlexboxLayout>
