<FlexboxLayout flexDirection = "column" style="background-color: white;">
    <Image src = "" style = "border-radius: 15;"></Image>
    <Label text = "First Name: Patient" width = "200" fontSize = "30" textAlignment = "center"></Label>
    <Label text = "Last Name: #1" width = "200" fontSize = "30" textAlignment = "center"></Label>
    <Label text = "Journal Log"></Label>
    <Label text = "Journal #1: (Enter Journal Here)"></Label>
    <Label text = "Journal #2: (Enter Journal Here)"></Label>
    <Label text = "Journal #3: (Enter Journal Here)"></Label>
</FlexboxLayout>
