<!--Map View XML Template-->
<StackLayout>
    <Label text = "Activity Locator:"></Label>

  <!--  <Image src="~/patient-landing/journal/feedback/maps_icons/blue-dot.png"></Image> -->

    <GridLayout height = "200">
        <MapView
            [latitude]="userLat"
            [longitude]="userLng"
            [zoom]="zoom"
            (mapReady)="onMapReady($event)"
        ></MapView>
    </GridLayout>
    
    
    <Label text = "Activity List"></Label>

    <StackLayout [visibility]="activityLoaded ? 'visible' : 'collapsed'">
        <ListView [items]="activityList" height="200">
            <ng-template let-item = "item" let-i ="index" let-odd="odd" let-even="even">
                <GridLayout columns = "auto, 5, auto">
                    <Label col = "0" [class.odd] = "odd" [class.even] = "even" [text] = "item"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </StackLayout> 
</StackLayout>
