<!--Map View XML Template-->
<StackLayout>
    <Label text = "Activity Locator:"></Label>

    <GridLayout height = "200">
        <MapView
            [latitude]="userLat"
            [longitude]="userLng"
            [zoom]="zoom"
            (mapReady)="onMapReady($event)"
        ></MapView>
    </GridLayout>
    
    
    <Label text = "Activity List"></Label>

    <StackLayout [visibility]="activityLoaded ? 'visible' : 'collapsed'">
        <ListView [items]="activityList">
            <ng-template let-item = "item" let-i ="index">
                <GridLayout>
                    <Label  *ngIf = "activityLoaded" [text] = "item"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </StackLayout> 
</StackLayout>
