
<FlexboxLayout flexDirection = "column" style="background-color: white;">
  <Image src = "~/welcome/dactrlogo.png" backgroundImage = "~/welcome/writingbackground.jpg"  height = "65%" style = "background-position: center top;" iosOverflowSafeArea="true">
  </Image>
  <Label text = "hi"></Label>
  <Label text="Welcome!" textAlignment = "center" fontSize = "35" color = "black" backgroundColor = "white"
     width="100"></Label>
  <Label fontSize = "14" text = "Welcome to Dactr, an AI powered" textAlignment = "center" color = "gray"
  ></Label>
  <Label fontSize = "14" text = "application that provides assistance for" color = "gray" textAlignment = "center"
  ></Label>
  <Label fontSize = "14" text = "healthier lifestyle choices!" color = "gray" textAlignment = "center"
  ></Label>
  <Button text="Sign in" (tap) = "toLogin()"></Button>
  <WrapLayout orientation = "horizontal">
    <Label text = "Don't have an account?" color = "gray" marginLeft = "20%"></Label>
    <Button (tap) = "toRegister()" paddingLeft = "-15" text="Sign up here" fontSize = "12" backgroundColor = "white" color = "black"></Button>
  </WrapLayout>
</FlexboxLayout>
